body{
	background-color: hsl(0, 0%, 92%);
	height: auto;
	display: flex;
	justify-content: center;
}
div{

}
.container{
	width: 500px;
	margin: 30px auto 30px auto;
	display: block;
	justify-content: center;
	align-items: center;
}
.grid{
	border-style: solid;
	border-color: hsl(10, 20%, 60%);
	border-width: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	height: auto;
}
.grid >p{
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
	height: 96.5px;
	border-width: 8px;
	border-color: hsl(0, 0%, 70%);
	border-style: solid;
	background-color: hsl(0, 0%, 85%);
	font-size: 50px;
	border-radius: 0px;
}
.note{
	font-size: 20px;
}